# Created by https://www.toptal.com/developers/gitignore

#-------------------------------------- 1. Swift --------------------------------------
xcuserdata/

### Obj-C/Swift specific ###
*.hmap

#-------------------------------------- 2. Xcode --------------------------------------
### Xcode 8이전버전 ###
*.xcscmblueprint
*.xccheckout

### Xcode 3이전버전 ###
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### App packaging ###
*.ipa
*.dSYM.zip
*.dSYM

### Playgrounds ###
timeline.xctimeline
playground.xcworkspace
.build/

#-------------------------------------- 3. 의존성 관리도구 --------------------------------------
### CocoaPods ###
Pods/

### Carthage ###
Carthage/Build/

### SwiftPackageManager ###
Packages
xcuserdata

#-------------------------------------- 4. 라이브러리 --------------------------------------

### Accio dependency management ###
Dependencies/
.accio/

### fastlane ###
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/FastlaneRunner

### Bitrise ###
.bitrise.secrets.yml

### R.swift ###
*.generated.swift

### Linter ###
swiftlint.result
swiftlint.result.*

#-------------------------------------- 5. Firebase --------------------------------------
.idea
**/node_modules/*
**/.firebaserc
*GoogleService-Info.plist

### Crashlytics ###
#Crashlytics
crashlytics-build.properties
com_crashlytics_export_strings.xml
crashlytics.properties
fabric.properties

### Firebase Patch ###
.runtimeconfig.json
.firebase/

# Git
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

#-------------------------------------- 6. 기타 --------------------------------------
### Homebrew ###
Brewfile.lock.json

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### macOS Patch ###
# iCloud generated files
*.icloud

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

### Environments ###
.env
.env.*

### Icon must end with two \r ###
Icon

### Thumbnails ###
._*

### Code Injection ###
iOSInjectionProject/


### Files that might appear in the root of a volume ###
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Directories potentially created on remote AFP share ###
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### 인증파일 ###

# End of https://www.toptal.com/developers/gitignore
